*, *:before, *:after { 
  word-break: break-all; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure,
h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  border: 0;
  vertical-align: middle;
}

ul, ol {
  list-style: none;
}

address {
  font-style: normal;
}

p {
  line-height: 1.5;
}
